.categories{
    display: flex ;
    justify-content: space-around !important ;
 
}
.cen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textt{
    width: 60%;
    margin-bottom: 70px;
}
.textt p{
    font-size: large; 
}
.allcategories{
    margin-top: 90px;
}