.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px !important;
    position:sticky;
    overflow: hidden; 
}
.navbar img{
    width: 120px;
    height: 40px;
}
.header{
    display: flex;
}
.header p{
    margin-left: 20px;
}
.func{
    display: flex;
}
.func p{
    margin-left: 20px;
}